{% extends "base.html" %}

{% block content %}

<div class="container">

    <div class="card border-primary mb-3">
        <img src="{{ url_for('static', filename='images/qna.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">QnA App</h5>
        <p class="card-text">This is a simple app idea that is originally inspired by Stack overflow. This is a basic platform that users can sign into and ask questions which are then answered by experienced users in the platform, called experts. Any amount of users can answer questions but an answer provided by an expert will be privileged.(Given more emphasis by being highlighted or shown as the first result)</p>
        <p class="card-text"><small class="text-muted">2020</small></p>
        </div>
    </div>

    <div class="card-deck">

    <div class="card border-primary mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
        <div class="col-md-4">
            <img src="{{ url_for('static', filename='images/lenny.jpg') }}" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
            <h5 class="card-title">Lenny Ng'ang'a</h5>
            <p class="card-text">Lenny is a cool and creative developer with great plans for the future. Robotics & Mechatronics, Artificial Intelligence, Full 
                Stack & Software Dev, TECH!!!</p>
                <p><a href="https://twitter.com/codewithlenny" class="text-warning"><strong> Follow me on Twitter</strong></a></p>
            <p class="card-text"><small class="text-muted">Lead Developer - Backend & Frontend</small></p>
            </div>
        </div>
        </div>
    </div>

    <div class="card border-primary mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
        <div class="col-md-4">
            <img src="{{ url_for('static', filename='images/hillary.jpg') }}" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
            <h5 class="card-title">Hillary</h5>
            <p class="card-text">Hillary is a developer in java and python. He has a bright future ahead and looks forward to learning newer things.</p>
            <p class="card-text"><small class="text-muted">Backend Developer</small></p>
            </div>
        </div>
        </div>
    </div>

    </div>

</div>
{% endblock %}