{% extends "base.html" %} {% block content %}

<h1>QnA App | Ask Questions</h1>

<div class="container-question">
  <h1><center>What is your Question?</center></h1>
  <!-- <p>Category: <small>Networking</small></p> -->

  <form action="#" method="post">
    <label for="Question">Question: </label><br />
    <input type="text" name="question" /><br />
    <label for="category">Choose a Category:</label><br />
    <select name="category">
      <option value="networking">Networking</option>
      <option value="troubleshooting">Troubleshooting</option>
      <option value="lifestyle">Lifestyle</option>
    </select>

    <br /><button type="submit">Ask Question</button>
  </form>

  <section id="members-answers"></section>
</div>

{% endblock %}
