{% extends "base.html" %} {% block content %}

<!-- <h1>QnA App | Homepage</h1> -->

<div class="container">

  <div class="row row-cols-1 row-cols-md-4">

  {% for question in questions_dict %} 
  {% if question.answers_to_question %}
  <div class="col mb-4">
    <div class="card h-100 border-success">
      <h5 class="card-header">Category: {{ question.category }}</h5>
      <div class="card-body">
        <h5 class="card-title">{{ question.question_text }}</h5>
      </div>
      <div class="card-footer">
        <a href="{{url_for('view',question_id = question.id)}}" class="btn btn-primary">View Question</a>
      </div>
    </div>
  </div>

  {% else %}
  <div class="col mb-4">
  <div class="card h-100 border-danger">
    <h5 class="card-header">Category: {{ question.category }}</h5>
    <div class="card-body">
      <h5 class="card-title">{{ question.question_text }}</h5>
     </div>
    <div class="card-footer">
      <a href="{{url_for('view',question_id = question.id)}}" class="btn btn-primary">View Question</a>
    </div>
  </div>
</div>
  {% endif %} {% endfor %}
</div>

</div>

{% endblock %}
