{% extends "base.html" %} {% block content %}

<h1>QnA App | Homepage</h1>

<div class="container">

    {% for question in questions_dict %}
      {% if question.answer %}
        <div class="question-answered">
          <a href="{{url_for('view')}}">
            <h3>{{ question.question_text }}</h3>
            <p>Category: {{ question.category }}</p>
          </a>
        </div>
      {% else %}
        <div class="question">
          <a href="{{url_for('view')}}">
            <h3>{{ question.question_text }}</h3>
            <p>Category: {{ question.category }}</p>
          </a>
        </div>
      {% endif %}
    {% endfor %}

</div>

{% endblock %}
