{% extends "base.html" %}

{% block content %}

<h1>QnA App | My Questions</h1>


<div class="container">
    {% for q in question %} 
    {% if q.answers_to_question %}
  
    <div class="question-answered">
      <a href="{{url_for('view',question_id = q.id)}}">
        <h3>{{ q.question_text }}</h3>
        <p>Category: {{ q.category }}</p>
      </a>
    </div>
    {% else %}
    <div class="question">
      <a href="{{url_for('view',question_id = q.id)}}">
        <h3>{{ q.question_text }}</h3>
        <p>Category: {{ q.category }}</p>
      </a>
    </div>
    {% endif %} {% endfor %}
  </div>

{% endblock %}