{% extends "base.html" %}

{% block content %}

<h1>QnA App | View a Question</h1>
<div class="container-question">
  <h1><center>{{ question.question_text }}</center></h1>
  <p>Category: <small>{{ question.category }}</small></p>

      <form action="{{ url_for('view') }}" method="post">
        <textarea name="answerText" cols="100%" rows="10"></textarea>
        <br />
        <button type="submit">Post Answer</button>
      </form>

      <section id="members-answers"></section>
    </div>
  </body>
</html>

{% endblock %}
